{% extends "base.html" %} {% block app_title%}About{% endblock %}
<!--  -->
{% block main %}
<section class="has-text-centered about-text">
  <h1 class="title is-1">About</h1>
  <p>
    Dullahan is a Home Internet-of-Things Network interface.
  </p>
  <p>
    It enables anyone to integrate their DIY IoT devices with a Raspberry Pi
    server, and gain access to any device on the home network.
  </p>
  <p>
    You can also integrate Dullahan with a centralized public server so that you
    can access and control your devices where ever you are, as long as you are
    connected to the internet.
  </p>
</section>
{% endblock %}
